In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statistics as stat

In [392]:
data = pd.read_csv('C:/Users/MiAir/Downloads/dataset_Facebook.csv',delimiter=';')
data.fillna(data.mean(), inplace=True)

In [393]:
group = data.groupby('Type')
groupType = group.agg([np.mean, np.max, np.min, np.median, mode])

In [311]:
def mode(numbers):
    numbers = list(numbers)
    counts = {k:numbers.count(k) for k in set(numbers)}
    modes = sorted(dict(filter(lambda x: x[1] == max(counts.values()), counts.items())).keys())
    return modes

In [394]:
whole = data.describe().loc[['mean','max','min','50%']]
a = pd.DataFrame(np.array([mode(data[i]) for i in data.columns]),columns=['mode']).transpose()
a.columns = data.columns
a.drop('Type',axis=1)
wholewmode = whole.append(a)
wholewmode = wholewmode.drop('Type',axis=1)

C:\Users\MiAir\AppData\Roaming\Python\Python36\site-packages\pandas\core\frame.py:6701: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [395]:
groupType

       Page total likes                                    Category            \
                   mean    amax    amin  median      mode      mean amax amin
Type
Link      116363.181818  138895   85979  115396  [138353]  1.136364    3    1
Photo     122354.171362  139441   81370  128032  [124940]  1.917840    3    1
Status    132647.044444  139441  104070  135713  [139441]  2.022222    3    1
Video     135014.857143  138895  126424  137893  [137893]  1.000000    1    1

                    ...      share                      \
       median mode  ...       mean   amax  amin median
Type                ...
Link        1  [1]  ...  12.909091   44.0   0.0   10.5
Photo       2  [1]  ...  27.159776  790.0   0.0   19.0
Status      2  [2]  ...  31.422222  123.0   1.0   28.0
Video       1  [1]  ...  52.142857  121.0  13.0   44.0

                                Total Interactions                    \
                           mode               mean  amax amin median
Type
Link                      [2.0]          89.045455   420    6   52.5
Photo                    [14.0]         216.579812  6334    0  122.0
Status  [1.0, 13.0, 18.0, 36.0]         217.044444  1009   17  186.0
Video                    [13.0]         295.857143   550   81  271.0


                                      mode
Type
Link                                  [14]
Photo                              [0, 39]
Status                          [117, 121]
Video   [81, 114, 174, 271, 409, 472, 550]

[4 rows x 90 columns]

In [396]:
wholewmode

,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,comment,like,share
mean,1.88,920.344,609.986,798.772,1415.13,16766.4,29585.9,13903.4,6585.49,123194,0.278557,7.84,7.038,4.15,212.12,7.482,177.946,27.2661
max,3,11452,4376,11328,19779,1.10783e+06,1.11028e+06,180480,51456,139441,1,23,12,7,6334,372,5172,790
min,1,9,9,9,9,567,570,238,236,81370,0,1,1,1,0,0,0,0
50%,2,625.5,412,551.5,851,6255.5,9051,5281,3417,129600,0,9,7,4,123.5,3,101,19
mode,[1],[537],[403],"[182, 298, 319, 322, 335, 374, 482, 503, 513, ...","[431, 513, 599, 652, 719, 730, 795, 889]","[1210, 1284, 2541, 2888, 3675, 4911, 4935, 501...","[4372, 6503, 7004, 8533, 8745, 12735]","[677, 2232, 2645, 2938, 3322, 3358, 3414, 3528...","[690, 704, 1228, 1640, 1674, 1722, 2044, 2124,...",[136393],[0.0],[3],[10],[7],"[0, 39, 75]",[0],[98.0],"[13.0, 14.0]"

In [369]:
def order(listik):
    orderlist = sorted(list(listik),reverse=True)
    spis = [orderlist.index(i) for i in list(listik)]
    return spis

In [421]:
dataforbest = data.drop(['Category','Paid','Post Hour','Post Month','Post Weekday','Type'],axis=1)
dataforbest.fillna('')
bestlist = np.zeros([1,500])
for i in dataforbest.columns:
    bestlist += np.array(order(dataforbest[i]))
data.iloc[[list(bestlist[0]).index(min(bestlist[0]))]]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334